body{
    margin: 0em;
    font-family: 'Source Serif Pro', serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Nunito', sans-serif;
}

.cover {
    height: 400px;
    background-color: rgb(250, 250, 250);
}

.cover-adicional {
    height: 200px;
    background-color: rgb(250, 250, 250);
}

.card{
    border: 0 !important;
    height: 430px;
}

.card-small{
    border: 0 !important;
    height: 360px;
}

.card-img-top-creaciones {
    height: 150px;
    width: 150px;
}

.price {
    color: #4287f5;
}
